<header id="main-header">
    <nav class="main-nav">

    </nav>
    <section>
        <h1>The Shortinator </h1>
        <h2>a super light and friendly url shortener</h2>
    </section>
    
</header>